:root {
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --pale-silver: #bcb8b1ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
}

html {
  font-size: 10px;
}

header {
  --bs-gutter-x: 0;
  background-color: var(--black);
  color: var(--white);
}
.header-title {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
.header-links {
  font-size: 2rem;
}
.p-2 {
  padding: 0 !important;
}
.my-pic {
  width: 16rem;
  height: 15rem;
}
.banner {
  background-color: var(--oxford-blue);
  color: var(--white);
  letter-spacing: 0.5rem;
}
.banner-title {
  font-size: 3rem;
}
#border1 {
  border-right: 0.5rem solid rgb(0, 0, 0);
  height: 15rem;
}
.projects {
  background-color: var(--oxford-blue);
  color: var(--white);
}
#border2 {
  border-right: 0.5rem solid var(--white);
  height: 60rem;
}
.image-size{
  height: 25rem;
  width: 45rem;
}
footer {
  --bs-gutter-x: 0;
  background-color: var(--black);
  color: var(--white);
  height: 10vh
}
.project1-img:hover {
  transform: scale(1.05);
}
.projects-img:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 1000px) {
  #border1 {
    display: none;
  }
  #border2 {
    display: none;
  }
}

